<%= stylesheet_link_tag "recipes" %>

<h3><% if flash[:errors] %> 
<% flash[:errors].each do |error| %> 
<%= error %><br>
<% end %> 
<% end %></h3>



<h1><%=form_for @recipe do |f|%></h1>
<h4><%=f.label :Recipe_Name %>
<%=f.text_field :title %>
<br>
<%=f.label :Recipe_Description %>
<%=f.text_area :description%>
<br>
<%=f.label :Cook_Time_Mins %>
<%=f.number_field :cook_time %></h4>

</p>
  <h1>Ingredients</h1>
  <h4><%= f.fields_for :ingredients do |ing| %>
    <p>
      <%= ing.label :Amount %>
      <%= ing.number_field :quantity, :size => 5%>
      <%= ing.label :Measurement_Type %>
      <%= ing.text_field :measurement_type, :size => 20 %>
      <%= ing.label :name %>
      <%= ing.text_field :name, :size => 20 %>
      <%= ing.check_box :_destroy %>
      <%= ing.label :_destroy, 'delete' %>
    </p>
  <% end -%>
  <p>
    <%= f.submit 'Add ingredient', :name => "add_ingredient" %>
  </p></h4>

  </p>
  <h1>Utensils</h1>
  <h4><%= f.fields_for :utensils do |ing| %>
    <p>
      <%= ing.label :name %>
      <%= ing.text_field :name, :size => 20 %>
      <%= ing.check_box :_destroy %>
      <%= ing.label :_destroy, 'delete' %>
    </p>
  <% end -%>
  <p>
    <%= f.submit 'Add Utensil', :name => "add_utensil" %>
  </p>

<%= f.hidden_field :user_id, :value => @user.id %>
<br>
<%= f.label :Creator%>
<%= @user.name%>
<br>
<%=f.submit%>
<%end%></h4>