<h1><%=@recipe.title%></h1>
<h4>Description: <%=@recipe.description%></h4>
<h4>Cook Time: <%= @recipe.cook_time%> mins </h4>
<h4>Created by: <%=@recipe.user.name%></h4>
<h4>Rating: <%= @avg_rate%>
<br>
<h4>Cooking Utensils Requirement</h4>
<% @recipe.utensils.each do |utensil|%>
    <%= utensil.name%>
<%end%>

<h4>Ingredients Required</h4>
<% @recipe.ingredients.each do |ingredient|%>
    <%= ingredient.quantity %> 
    <%= ingredient.measurement_type%>
    <%= ingredient.name%><br>
<%end%>




<br><a href="/recipes/<%= @recipe.id%>/edit"><button>Edit Recipes</button><a>


<br><a href="/recipes"><button>All Recipes</button><a>


<%= form_for @recipe, method: :delete do |f|%>
<br><%= f.submit "Remove Recipe"%>
<%end%>