<% if flash[:errors] %>
<ul style=“color: red;”>
	<% flash[:errors].each do |error| %>
		<li> <%= error %> </li>
	<% end %>
</ul>
<% end %>


<%= form_for @ingredient do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :quantity %>
<%= f.text_field :quantity %>
<%= f.label :measurement_type %>
<%= f.text_field :measurement_type  %>
<%= f.submit "Add ingredient" %>
<% end %>