<h1> Name: <%= @ingredient.name %></h1>
<h1> Name: <%= @ingredient.quantity %></h1>
<h1> Name: <%= @ingredient.measurement_type%></h1>


<%= button_to "All Ingredients", ingredients_path, method: :get %>
<%= button_to "Edit Ingredients", edit_ingredient_path(@ingredient), method: :get %>
<%= button_to "Remove Ingredient", ingredient_path(@ingredient), method: 'delete', data: { confirm: 'Are you sure' } %>

