<%= stylesheet_link_tag "ingredients" %>
<h1> Name: <%= @ingredient.name %></h1>
<h1> Name: <%= @ingredient.quantity %></h1>
<h1> Name: <%= @ingredient.measurement_type%>


<%= button_to "All Ingredients", ingredients_path, method: :get %></h1>



