<% if flash[:errors] %>
<ul style=“color: red;”>
	<% flash[:errors].each do |error| %>
		<li> <%= error %> </li>
	<% end %>
</ul>
<% end %>


<%= form_for @utensil do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit "Add Utensil" %>
<% end %>
