<%= stylesheet_link_tag "reviews" %>

<h3><% if flash[:errors] %> 
<% flash[:errors].each do |error| %> 
<%= error %><br>
<% end %> 
<% end %></h3>


<h1><%= form_for @review do |f| %></h1>
<h1><%= f.label :rating %></h1>
<h1><%= f.text_field :rating %></h1>
<h1><%= f.label :comment %></h1>
<h1><%= f.text_area :comment %></h1>
<h1><%= f.collection_select :recipe_id, @recipes, :id, :title %> 
<%= f.hidden_field :user_id, :value => @user.id %>
<h1><%= f.submit %></h1>
<% end %>
