<% if flash[:errors] %> 
<% flash[:errors].each do |error| %> 
<li><%= error %> </li> 
<% end %> 
<% end %>


<%= form_for @review do |f| %>
<br>
<%= f.label :rating %>
<%= f.text_field :rating %>
<br>
<%= f.label :comment %>
<%= f.text_area :comment %>
<br>
<%= f.collection_select :recipe_id, @recipes, :id, :title %> 
<br>
<%= f.hidden_field :user_id, :value => @user.id %>
</h1>
<%= f.submit %>

<% end %>